body {
  background-color: yellow;
}

h1 {
  font-size: 4em;
  color: #6F8FAF;
}

h2{
  color: black;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px
}

.new-jean-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: teal;
}

.new-jean-form form {
  display: flex;
  justify-content: center;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: gray;
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.card button {
  margin-left: -10%;
  margin-bottom: 1rem;
  padding-right: 3%;
  width: 50%;
  border-radius: 35%;
  display: flexbox;
  position: relative
}

.card img {
  padding-right: 13%;
  padding-top: 5%;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card h4 {
  padding-right: 12%;
}

.card p {
  padding-right: 12%;
}




