body {
  background: url("https://cdn.media.amplience.net/s/hobbylobby/1881655-80967386-IMGSET?fmt=webp&w=519&h=519&sm=mc");
}

h1 {
  font-size: 4em;
  color: white;
}

h2{
  color: black;
}

.Home {
  text-align: center;
  margin: auto;
  max-width: 1200px
  color
}

.new-jean-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: white;
}

.new-jean-form form {
  display: flex;
  justify-content: center;
}

.cards {
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  backdrop-filter: blur(10px);
  margin: auto;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  color: white 
}

.card button {
  margin-left: -10%;
  margin-bottom: 1rem;
  padding-right: 3%;
  width: 50%;
  border-radius: 35%;
  display: flexbox;
  position: relative
}

.card img {
  padding-right: 13%;
  padding-top: 5%;
  top: 0;
  left: 0;
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card h4 {
  padding-right: 12%;
}

.card p {
  padding-right: 12%;
}

.description img {
  padding-top: 5%
}

.nav-link {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  padding: 5px;
  margin: 0 6px 6px;
  background: blue;
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px);
  color: white;
}

.active {
  color: red;
}

.searchbar {
  color: white;
  padding-bottom: 5%;
}

.link{
  color: white;
}

.Description{
  color: white;
  text-align: center;
  margin: auto;
  max-width: 1200px
}

.sizes{
  display: flex;
  font-size: medium;
  justify-content: center;
  margin: auto
}

.color {
  padding-top: 1%;
  display: flex;
  font-size: medium;
  justify-content: center;
}
